  <div class="modal">
  
    <div class="bar bar-header bar-dark">
        <ion-button class="button icon-left ion-chevron-left button-clear" ng-click="leaveAddChangeDialog()">Cancel</ion-button>
  		<h1 class="title">Adicionar nota</h1>
	</div>
    <ion-content has-header="true">
	    <div class="spacer" style="width: 300px; height: 35px;"></div>
		<form name="form" ng-model="form" novalidate>
			<ion-list>
                <label class="item item-input">
                    <span class="input-label">CPF/CNPJ</span>
                    <input type="text" placeholder="" name="cpfCnpj" ng-model="cpfCnpj" ng-cnpj ui-mask="99.999.999/9999-99" bsy-form-validate="cnpjErrorTips" required>
                </label>

                <label class="item item-select">
                    <span class="input-label">Tipo de documento</span>
                    <select name="tipoDocumento" ng-model="tipoDocumento" bsy-form-validate="tipoDocumentoErrorTips" required>
                        <option ng-repeat="item in tipos.tiposNotas"
                                value="{{item.codigo}}">
                          {{item.descricao}}
                        </option>
                    </select>
                </label>
                <label class="item item-input">
                    <span class="input-label">Número do documento</span>
                    <input type="text" placeholder="" name="numDocumento" ng-model="numDocumento"  bsy-form-validate="numDocumentoErrorTips" required>
                </label>

                <label class="item item-input">
                    <span class="input-label">Data</span>
					<ionic-datepicker input-obj="dataNota">
					  <button class="button button-block button-clear"> {{dataSelected | date:'dd/MM/yyyy'}}</button>
					</ionic-datepicker>
                </label>

                <label class="item item-input">
                    <span class="input-label">Valor</span>
                    <input type="text" placeholder="" name="valor" ng-model="valor" ng-currency currency-symbol="R$"  ng-pattern="/^\d{0,9}(\,\.\d{1,9})?$/" required>
                </label>

				<ion-button ng-show="action == 'add'" ng-init="saveEmpty(form)" class="button button-block button-positive" ng-click="addItem(form)">
		  				Add
				</ion-button>
				<ion-button ng-show="action == 'change'" class="button button-block button-positive" ng-click="editItem(form)">
		  				Edit
				</ion-button>
			</ion-list>
		</form>
    </ion-content>
    
  </div>