<ion-view title="Tipo de pessoa" hide-nav-bar="true">
    <ion-content padding="'true'">
        <div class="spacer" style="width: 300px; height: 70px;"></div>
        <form class="list">
            <img src="img/mnA6p2lTsKJ6sNSYarMI_notapiauiense.png" class="container-image-center container-image-logo">
            <div class="spacer" style="width: 300px; height: 8px;"></div>
            <a menu-close="" href="#/cadPasso1" class="button button-stable button-block content-user button-positive">PESSOA FÍSICA</a>
            <a menu-close="" href="#/cadPJPasso1" class="button button-stable button-block content-user button-positive">PESSOA JURÍDICA</a>
            <img src="img/7yubSuaGRE6fXAQOFYIt_logo sefaz.png" class="container-image-center container-image-logo">
        </form>
    </ion-content>
</ion-view>