<ion-view title="Cadastro - Passo 2">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-arrow-left-c" ng-click="anterior()">
        </button>
    </ion-nav-buttons>    
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-arrow-right-c" ng-click="proximo()">
        </button>
    </ion-nav-buttons>    
   <ion-content padding="'true'" scroll="false" class="has-header">
        <form class="list" name="form" ng-model="form">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">CEP</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-select">
                    <span class="input-label">Logradouro</span>
                    <select ng-model="logradouro">
                        <option ng-repeat="item in logradouros.tiposLogradouro"
                                value="{{item.id}}">
                          {{item.value}}
                        </option>
                    </select>
                </label>
                <label class="item item-input">
                    <span class="input-label">Endereço</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Número</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Complemento</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Bairro</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-select">
                    <span class="input-label">UF</span>
                    <select ng-model="uf">
                        <option ng-repeat="item in ufs.ufs"
                                value="{{item.id}}">
                          {{item.value}}
                        </option>
                    </select>
                </label>
                <label class="item item-input">
                    <span class="input-label">Município</span>
                    <i class="icon ion-ios7-search placeholder-icon"></i>
                    <input ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete" autocomplete="off" ng-model="model" items-method="searchMunicipio(query,uf)" 
                    item-value-key="id" items-method-value-key="descricao" max-selected-items="1"
                    placeholder="Digite o município ..." select-items-label="Selecione..." 
                    selected-items-label="Selecionado:" cancel-label="Voltar" />
                    
                </label>
            </ion-list>
            <div class="spacer" style="width: 300px; height: 16px;"></div>
        </form>
    </ion-content>
</ion-view>