<ion-view title="Cadastro - Passo 1">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-arrow-left-c" ng-click="anterior()">
        </button>
    </ion-nav-buttons>    
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-arrow-right-c" ng-click="proximo()">
        </button>
    </ion-nav-buttons>    
    <ion-content padding="'true'" scroll="false" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Nome da Mãe</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">CPF</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-select">
                    <span class="input-label">Data de nascimento</span>
                    <select></select>
                </label>
                <label class="item item-input">
                    <span class="input-label">Telefone</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <label class="item item-input">
                <span class="input-label">Celular</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Whatsapp</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 30px;"></div>
    </ion-content>
</ion-view>