<ion-view title="Nota Piauiense">
    <ion-content padding="'false'" class="has-header no-padding" has-padding="false">

    	<div class="content-user" style="width: 100%;">
	        <div class="spacer" style="width: 300px; height: 18px;"></div>
		    <div> 
		       <ion-profile-picture ng-model="myPicture" />
		    </div>   
		 	<div class="center-content container-full light">
		        <span>{{contaCorrente.nome}}
		        </span>
		        <span><strong>Data do Último Acesso:</strong>{{contaCorrente.dataUltimoAcesso}}
		        </span>
		    </div>    
		    <div class="spacer" style="width: 300px; height: 18px;"></div>
		    <div class="container-saldo">
		    	<div class="block-left center-content light" style="width:50%"><span class="saldo">{{contaCorrente.saldo}}</span><span>Saldo de conta corrente</span></div>
		    	<div class="block-left center-content light" style="width:50%"><span class="saldo">{{contaCorrente.lancamentosFuturos}}</span>
		    	<span>Lançamentos futuros</span></div>
		    </div>
    	</div>
	    <div class="spacer" style="width: 300px; height: 10px;"></div>
	    <ion-list>
		  <ion-item ng-repeat="item in contaCorrente.itensConta">
			<span class="item-list-title">{{item.title}}</span>
	    	<span class="item-list-value">{{item.value}}</span>
	      </ion-item>
	    </ion-list>    
    </ion-content>
</ion-view>