<ion-view title="Cupons">
    <div class="bar bar-header bar-light">
      <h1 class="title">Meus cupons</h1>
    </div>

<!--    <div class="bar bar-subheader">

      <div class="button-bar">
        <a class="button" ng-class="{'button-positive': isActive('all')}" ng-click="setActive('all');data.filter=''">Todas</a>
        <a class="button" ng-class="{'button-positive': isActive('lancada')}" ng-click="setActive('lancada');data.filter='01L'">Lançadas</a>
        <a class="button" ng-class="{'button-positive': isActive('pendente')}" ng-click="setActive('pendente');data.filter='02P'">Pendentes</a>
      </div>      

    </div>-->

    <ion-content has-header="true" has-subheader="true" padding="false">

    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <div> 
	    <ion-list>
		  <ion-item ng-repeat="cupom in data.cupons.items | filter : data.filter">
          <div class="div-table">
            <div class="div-table-row"> 
            <div class="div-table-col">{{cupom.id}}</div>
              <div class="div-table-col-right">{{cupom.date}}</div>
            </div>
            <div class="div-table-row">
            <div class="div-table-col">{{cupom.status}}</div>
              <div class="div-table-col-right">&nbsp;</div>
            </div>
          </div>
	      </ion-item>
	    </ion-list>    
<!--      <div class="list">
        <div class="item" ng-repeat="">{{nota.name}}</div>
        
      </div> -->
    </ion-content>
</ion-view>