<ion-view title="Main" hide-nav-bar="true">
    <ion-content padding="'true'" class="content-init">
        <div class="spacer" style="width: 300px; height: 65px;"></div>
          <img src="img/KLbQRbnRgGJQ54FuuCvl_notapiauiense.png" class="container-image-center container-image-logo">
        <a menu-close="" href="#/login" class="button button-stable button-block content-user button-positive">LOGIN</a>
        <a menu-close="" href="#/cadEscolha" class="button button-stable button-block content-user button-positive">CADASTRE-SE</a>
        <div class="container-button-menu">
          <button class="button button-icon button-positive" onclick="window.open('http://portal.sefaz.pi.gov.br/notapiauiense/noticias/', '_system', 'location=yes'); return false;">
                <i class="icon ion-ios-paper-outline"></i> Notícias
          </button>
          <button class="button button-icon button-positive" onclick="window.open('http://portal.sefaz.pi.gov.br/notapiauiense/sorteio/', '_blank', 'location=yes'); return false;">
              <i class="icon ion-ios-people-outline"></i> Sorteio
          </button>
          <button class="button button-icon button-positive" onclick="window.open('http://portal.sefaz.pi.gov.br/notapiauiense/perguntas-frequentes/', '_blank', 'location=no'); return false;">
                          <i class="icon ion-ios-help-outline"></i> Perguntas Frequentes
          </button>
          <button class="button button-icon button-positive" onclick="window.open('http://webas.sefaz.pi.gov.br/denunciaonline/', '_self', 'location=yes'); return false;">
              <i class="icon ion-ios-telephone-outline"></i> Denunciar
          </button>
        </div>
        <div class="spacer" style="width: 300px; height: 14px;"></div>
        <div class="container-image-center">
         <img src="img/PLApwZRfSx6E12o5U9II_piaui.png"  class="container-image-center container-image-footer">
        </div>
    </ion-content>
</ion-view>