<ion-view title="Sucesso">
    <ion-content padding="'true'" class="has-header">
        <div class="spacer" style="height: 100px;"></div>
        <img src="img/C7UZmarXS8iACkuh5Sg2_notapiauiense.png" class="container-image-center container-image-logo">
        <div class="spacer" style="width: 300px; height: 60px;"></div>
        <a menu-close="" href="#/login" class="button button-stable button-block ">LOGIN</a>
        <a menu-close="" href="#/main" class="button button-stable button-block ">VOLTAR PARA HOME</a>
    </ion-content>
</ion-view>