<ion-view title="Tabs Controller">
    <ion-tabs class="tabs-stable tabs-icon-top tabs-positive tabs-color">
        <ion-tab title="Conta" icon="ion-ios-paper-outline" href="#/tabs/minhasNotas">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Minhas notas" icon="ion-ios-book-outline" href="#/tabs/minhasNotas">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Cupons" icon="ion-ios-cart-outline" href="#/tabs/cupons">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Consulta" icon="ion-ios-glasses-outline" href="#/tabs/consulta">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>